.Index {
    width: min(calc(100dvw - 80px), 400px);
    height: calc(100dvh - 60dvw);
    text-align: -webkit-center;
}

p {
    text-align: left;
    line-height: 30px;
    font-family: sans-serif;
    user-select: none;
    pointer-events: none;
    font-size: 25px;
    color: rgb(0, 143, 111);
    font-weight: bold;
    text-shadow:
        rgb(255, 255, 221) -1px -1px,
        rgb(255, 255, 221) -1px 0px,
        rgb(255, 255, 221) -1px 1px,
        rgb(255, 255, 221) 0px -1px,
        rgb(255, 255, 221) 0px 1px,
        rgb(255, 255, 221) 1px -1px,
        rgb(255, 255, 221) 1px 0px,
        rgb(255, 255, 221) 1px 1px;
}

.InputUserName {
    padding: 2px 5px;
    outline: 0px;
    overflow: hidden;
    background-color: rgb(238, 255, 170);
    border: 2px solid rgb(136, 153, 85);
    width: 100%;
    height: 34px;
    border-radius: 5px;
    font-size: 25px;
    color: rgb(0, 143, 111);
}

.ButtonLogin {
    position: relative;
    left: -10%;
    width: 120%;
    margin-top: 30px;
    outline: 0px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(0, 143, 111);
    box-shadow:
        0 0 0 4px rgb(0, 143, 111),
        inset 0 0 0 2px rgb(238, 255, 238);
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    user-select: none;
    font-weight: bold;
    font-size: 60px;
    color: rgb(238, 255, 238);
}

.ButtonLogin:hover {
    background-color: rgb(0, 163, 131);
    box-shadow:
        0 0 0 4px rgb(0, 163, 131),
        inset 0 0 0 2px rgb(238, 255, 238);
    color: rgb(238, 255, 238);
}