@page "/"

<PageTitle>@L["texts.app.title"]</PageTitle>

<div class="Index">
    <p>@L["texts.home.userName"]</p>
    <input class="InputUserName" type="text" @bind-value="AppState.UserName" />
    <div class="ButtonLogin">@L["texts.home.setUserName"]</div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender) {
        if (firstRender) {
            await JS.SetBackgroundImage(await JS.GetElementByClassName("Content"), new(Resources.GetResource("images.screens.home.png")!));
        }
    }
}