img {
    -webkit-user-drag: none;
}

.ItemCardContainer {
    margin-right: 10px;
}

.ItemCard {
    width: 300px;
    height: 90px;
    padding: 5px;
    background-color: rgb(85, 187, 153);
    border-radius: 5px;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.ItemCard > img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 5px;
}

.ItemCard > span:nth-child(2) {
    display: block;
    width: 205px;
    float: right;
    padding-left: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(221, 255, 204);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.ItemCard > div:nth-child(3) {
    display: block;
    width:  205px;
    height: 46px;
    float: right;
    padding-left: 5px;
    margin-top: 2px;
    border-bottom-right-radius: 5px;
    background-color: rgb(221, 255, 204);
}

.ItemCard > div:nth-child(3) > div:first-child {
    height: 100%;
    /* width: calc(100% - 52px); */
    float: left;
}

.ItemCard > div:nth-child(3) > div:first-child > span:first-child {
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 25px;
}

.ItemCard > div:nth-child(3) > div:first-child > span:first-child > img {
    width: 20px;
    height: 20px;
}

.ItemCard > div:nth-child(3) > div:first-child > span:first-child > img[src=""] {
    visibility: hidden;
}

.ItemCard > div:nth-child(3) > span:last-child {
    float: right;
    text-align: center;
}

.Price {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: rgb(255, 255, 170);
    border: 1px solid rgb(221, 221, 136);
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 18px;
    pointer-events: none;
    user-select: none;
    color: rgb(79, 79, 79);
    margin-top: 1px;
    margin-right: 1px;
}

.Cost {
    display: block;
    width: 50px;
    height: 42px;
    line-height: 22px;
    background-color: rgb(119, 119, 255);
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    pointer-events: none;
    user-select: none;
    color: rgb(238, 238, 255);
    margin-top: 2px;
    margin-right: 2px;
    padding-top: 1.5px;
}

.NoShortInformation {
    display: none !important;
}

.ElementFire {
    color: rgb(255, 102, 102) !important;
}

.ElementWater {
    color: rgb(102, 102, 255) !important;
}

.ElementWood {
    color: rgb(255, 153, 0) !important;
}

.ElementStone {
    color: rgb(102, 136, 170) !important;
}

.ElementLight {
    color: rgb(197, 197, 0) !important;
}

.ElementDarkness {
    color: rgb(170, 85, 204) !important;
}