.PlayerName {
    width: min(260px, 100%);
    height: 30px;
    border-radius: 15px;
    margin: 5px 0px;
    border: solid 1px rgb(0, 143, 111);
    color: rgb(0, 143, 111);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.PlayerName::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
    top: -85%;
    left: 7px;
}

.PlayerName.Team0 {
    border: solid 1px rgb(170, 170, 170);
    background-color: rgb(238, 238, 238);
}

.PlayerName.Team0::after {
    background-color: rgb(170, 170, 170);
    border-radius: 9px;
}

.PlayerName.Team1 {
    border: solid 1px rgb(136, 187, 136);
    background-color: rgb(204, 255, 204);
}

.PlayerName.Team1::after {
    border-bottom: 18px solid rgb(136, 187, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    top: -18px;
    left: 16px;
}

.PlayerName.Team2 {
    border: solid 1px rgb(187, 136, 136);
    background-color: rgb(255, 204, 204);
}

.PlayerName.Team2::after {
    border-bottom: 18px solid rgb(187, 136, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(180deg) translate(50%, 50%);
    width: 20px;
    height: 20px;
    top: -14px;
    left: 16px;
}

.PlayerName.Team3 {
    border: solid 1px rgb(170, 170, 136);
    background-color: rgb(255, 255, 204);
}

.PlayerName.Team3::after {
    background-color: rgb(170, 170, 136);
    transform: rotate(45deg) translateX(-70%) scale(0.8);
    top: -16px;
    left: 16px;
}

.PlayerName.Team4 {
    border: solid 1px rgb(136, 136, 187);
    background-color: rgb(204, 204, 255);
}

.PlayerName.Team4::after {
    background-color: rgb(136, 136, 187);
    transform: scale(0.9);
}