.Duel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Matchmaking {
    display: block;
    width: min(900px, 90dvw);
    height: min(100px, 90dvh);
    outline: 0px;
    justify-content: center;
    background-color: rgb(221, 102, 153);
    border-radius: 20px;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    user-select: none;
    color: rgb(255, 238, 238);
    position: absolute;
    top: 20dvh;
}

.ButtonMatchmaking {
    width: min(460px, 90dvw);
    height: min(90px, 90dvh);
    outline: 0px;
    line-height: 90px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: rgb(79, 79, 79);
    background-color: rgb(255, 238, 187);
    border-radius: 20px;
    box-shadow: 0 0 0 4px rgb(204, 187, 136);
    text-align: center;
}
/* TODO highlight when hovered */

.Record {
    width: min(300px, 90dvw);
    height: min(165px, 90dvh);
    outline: 0px;
    background-color: rgb(221, 102, 153);
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    bottom: 9dvh;
}

.Record > span:first-child {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    text-align: center;
    color: rgb(255, 238, 238);
}

.Record > span:nth-child(2) {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    user-select: none;
    text-align: center;
    color: rgb(17, 119, 187);
    background-color: rgb(255, 238, 238);
}

.Record > span:last-child {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 25px;
    user-select: none;
    text-align: right;
    color: rgb(255, 238, 238);
    position: relative;
    right: 15px;
}