.Hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Hidden > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: min(840px, 95%);
    height: 66%;
    padding-top: 30px;
}

.Hidden > div:last-child {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Hidden > div:last-child > div {
    width: min(380px, 90%);
    height: 90px;
    line-height: 90px;
    border-radius: 20px;
    border: 4px solid rgb(204, 187, 136);
    background-color: rgb(255, 238, 187);
    cursor: pointer;
    user-select: none;
    font-family: sans-serif;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
    color: rgb(79, 79, 79);
}

.Hidden > div:last-child > div:last-child {
    width: min(480px, 95%);
    line-height: 90px;
    font-size: 60px;
}

.LeftSide, .RightSide {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LeftSide > span:first-child,
.RightSide > span:first-child {
    display: block;
    width: min(200px, 100%);
    height: 60px;
    border-radius: 10px;
    background-color: rgb(0, 143, 111);
    color: rgb(238, 255, 238);
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.LeftSide > div,
.RightSide > div {
    width: min(200px, 100%);
    height: 70px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    margin-top: 10px;
}

.LeftSide > div::after,
.RightSide > div::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LeftSide > div:nth-child(2)::after {
    content: "";
    display: block;
    background-color: rgb(170, 170, 170);
    border-radius: 25px;
}

.RightSide > div:nth-child(2) {
    background-color: rgb(204, 255, 204);
    border: solid 1px rgb(136, 187, 136);
}

.RightSide > div:nth-child(2)::after {
    border-bottom: 50px solid rgb(136, 187, 136);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.RightSide > div:nth-child(3) {
    background-color: rgb(255, 204, 204);
    border: solid 1px rgb(187, 136, 136);
}

.RightSide > div:nth-child(3)::after {
    border-bottom: 50px solid rgb(187, 136, 136);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(180deg) translate(50%, 50%);
}

.RightSide > div:nth-child(4) {
    background-color: rgb(255, 255, 204);
    border: solid 1px rgb(170, 170, 136);
}

.RightSide > div:nth-child(4)::after {
    background-color: rgb(170, 170, 136);
    transform: rotate(45deg) translateX(-70%) scale(0.8);
}

.RightSide > div:nth-child(5) {
    background-color: rgb(204, 204, 255);
    border: solid 1px rgb(136, 136, 187);
}

.RightSide > div:nth-child(5)::after {
    background-color: rgb(136, 136, 187);
    transform: translate(-50%, -50%)  (0.92);
}

.Entries {
    width: min(260px, 33%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.Entries > div {
    width: min(260px, 100%);
    height: 30px;
    border-radius: 15px;
    margin: 5px 0px;
    border: solid 1px rgb(0, 143, 111);
    color: rgb(0, 143, 111);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.Entries > div::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
    top: -85%;
    left: 7px;
}

.Entries > div.Team0 {
    border: solid 1px rgb(170, 170, 170);
    background-color: rgb(238, 238, 238);
}

.Entries > div.Team0::after {
    background-color: rgb(170, 170, 170);
    border-radius: 9px;
}

.Entries > div.Team1 {
    border: solid 1px rgb(136, 187, 136);
    background-color: rgb(204, 255, 204);
}

.Entries > div.Team1::after {
    border-bottom: 18px solid rgb(136, 187, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    top: -18px;
    left: 16px;
}

.Entries > div.Team2 {
    border: solid 1px rgb(187, 136, 136);
    background-color: rgb(255, 204, 204);
}

.Entries > div.Team2::after {
    border-bottom: 18px solid rgb(187, 136, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(180deg) translate(50%, 50%);
    width: 20px;
    height: 20px;
    top: -14px;
    left: 16px;
}

.Entries > div.Team3 {
    border: solid 1px rgb(170, 170, 136);
    background-color: rgb(255, 255, 204);
}

.Entries > div.Team3::after {
    background-color: rgb(170, 170, 136);
    transform: rotate(45deg) translateX(-70%) scale(0.8);
    top: -16px;
    left: 16px;
}

.Entries > div.Team4 {
    border: solid 1px rgb(136, 136, 187);
    background-color: rgb(204, 204, 255);
}

.Entries > div.Team4::after {
    background-color: rgb(136, 136, 187);
    transform: scale(0.9);
}