.HiddenGame {
    display: flex;
    width: 100dvw;
    height: calc(100dvh - 60px);
    flex-direction: column;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
}

.ElementFire {
    color: rgb(255, 102, 102) !important;
}

.ElementWater {
    color: rgb(102, 102, 255) !important;
}

.ElementWood {
    color: rgb(255, 153, 0) !important;
}

.ElementStone {
    color: rgb(102, 136, 170) !important;
}

.ElementLight {
    color: rgb(197, 197, 0) !important;
}

.ElementDarkness {
    color: rgb(170, 85, 204) !important;
}

.UpperSide {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
}

.ActionMenu {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.ActionMenuLeftSide,
.ActionMenuRightSide {
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Arrow {
    flex-grow: 1;
    align-self: flex-start;
    text-align: center;
}

.Arrow::before {
    visibility: hidden;
    content: "";
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(255, 102, 153);
    position: relative;
    top: -10px;
}

.Arrow::after {
    visibility: hidden;
    content: "";
    display: inline-block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(255, 102, 153);
}

.Arrow[data-direction="R"] {
    transform: rotateY(0deg);
}

.Arrow[data-direction="R"]::before,
.Arrow[data-direction="R"]::after {
    visibility: visible;
}

.Arrow[data-direction="L"] {
    transform: rotateY(180deg);
}

.Arrow[data-direction="L"]::before,
.Arrow[data-direction="L"]::after {
    visibility: visible;
}

.ActionMenuLeftSide > div:first-child,
.ActionMenuRightSide > div:first-child {
    display: block;
    width: min(260px, 100%);
    height: 30px;
    border-radius: 15px;
    margin: 5px 0px;
    border: solid 1px rgb(0, 143, 111);
    color: rgb(0, 143, 111);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.ActionMenu div.Team0 {
    border: solid 1px rgb(170, 170, 170);
    background-color: rgb(238, 238, 238);
}

.Opening {
    width: min(640px, 80%);
    height: min(200px, 80%);
    margin: 0 20px;
    padding-top: 30px;
    display: block;
    border-radius: 25px;
    background-color: rgb(0, 143, 111);
    text-align: center;
    line-height: 75px;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(238, 255, 238);
    user-select: none;
}

.PlayerList {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 500px;
}

.LowerSide {
    width: 100dvw;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

.Items {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 740px;
}

.ButtonToggleShowingMiracles {
    display: block;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px rgb(102, 136, 136);
    background-color: rgb(238, 238, 238);
    color: rgb(102, 136, 136);
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    user-select: none;
    margin-bottom: 20px;
    cursor: pointer;
}