.HiddenGame {
    display: flex;
    width: 100dvw;
    height: calc(100dvh - 60px);
    flex-direction: column;
    justify-content: center;
}

.UpperSide {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
}

.ActionMenu {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

.Opening {
    width: min(640px, 80%);
    height: min(200px, 80%);
    margin: 0 20px;
    padding-top: 30px;
    display: block;
    border-radius: 25px;
    background-color: rgb(0, 143, 111);
    text-align: center;
    line-height: 75px;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(238, 255, 238);
    user-select: none;
}

.PlayerList {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 500px;
}

.PlayerList > div {
    width: min(340px, 80%);
    height: min(40px, 80%);
    background-color: rgb(238, 238, 238);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 1px rgb(170, 170, 170);
}

.PlayerList > div::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 10px;
    left: 7px;
}

.PlayerList > div > span {
    user-select: none;
}

.PlayerList > div > span:first-child {
    display: inline-block;
    position: relative;
    width: 135px;
    height: 40px;
    left: 30px;
    top: -18px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 143, 111);
    line-height: 40px;
}

.PlayerList > div > span:nth-child(n+2) {
    display: inline;
    position: relative;
    top: -28px;
    left: 40px;
    width: 30px;
    height: 26px;
    line-height: 26px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    text-align: right;
    color: rgb(102, 136, 136);
}

.PlayerList > div > span:nth-child(n+2) > span {
    color: rgb(79, 79, 79);
    font-size: 20px;
}

.PlayerList > div.Team0::before {
    background-color: rgb(170, 170, 170);
    border-radius: 9px;
}

.PlayerList > div.Team1 {
    background-color: rgb(204, 255, 204);
    border: solid 1px rgb(136, 187, 136);

}

.PlayerList > div.Team1::before {
    border-bottom: 18px solid rgb(136, 187, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    top: 18px;
    left: 20px;
}

.PlayerList > div.Team2 {
    background-color: rgb(255, 204, 204);
    border: solid 1px rgb(187, 136, 136);
}

.PlayerList > div.Team2::before {
    border-bottom: 18px solid rgb(187, 136, 136);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(180deg) translate(50%, 50%);
    width: 20px;
    height: 20px;
    top: 22px;
    left: 20px;
}

.PlayerList > div.Team3 {
    background-color: rgb(255, 255, 204);
    border: solid 1px rgb(187, 187, 136);
}

.PlayerList > div.Team3::before {
    border-bottom: 18px solid rgb(187, 187, 136);
    transform: rotate(45deg) scale(0.8);
    top: 12px;
    left: 12px;
}

.PlayerList > div.Team4 {
    background-color: rgb(204, 204, 255);
    border: solid 1px rgb(136, 136, 187);
}

.PlayerList > div.Team4::before {
    border-bottom: 18px solid rgb(136, 136, 187);
    transform: scale(0.9);
    top: 10px;
    left: 14px;
}

.LowerSide {
    width: 100dvw;
    flex-grow: 2;
}