.Main {
    background-color: rgb(0, 143, 111);
    height: 100vh;
    --HeaderHeight: 30px;
    --FooterHeight: 30px;
    --ContentHeight: calc(100vh - var(--HeaderHeight) - var(--FooterHeight));
}

.Header {
    width: 100%;
    height: var(--HeaderHeight);
    display: flex;
}

.Footer {
    width: 100%;
    height: var(--FooterHeight);
    display: flex;
    bottom: 0px;
}

.Content {
    width: 100%;
    height: var(--ContentHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: max(100%, 500px) auto;
    background-position: top;
    background-repeat: no-repeat;
}