@inherits LayoutComponentBase

<div class="Main">
    <div class="Header">
        <button class="CloseReferenceButton" style="display: @(ShowingReference ? "inherit" : "none")"></button>
        <span></span>
    </div>
    <div class="Content">
        @Body
    </div>
    <div class="Footer"></div>
</div>

@code {
    [Parameter]
    public bool ShowingReference { get; set; }
}